.c-pointer {
    cursor: pointer !important;
}

.c-default {
    cursor: default !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.valign-middle {
    vertical-align: middle !important;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.f12 {
    font-size: 12px !important;
}

.f14 {
    font-size: 14px !important;
}

.f16 {
    font-size: 16px !important;
}

.f20 {
    font-size: 20px !important;
}

.f24 {
    font-size: 24px !important;
}

.mw50 {
    max-width: 50px !important;
}

.mw16 {
    max-width: 16px !important;
}

.mh16 {
    max-height: 16px !important;
}

.w30 {
    width: 30px !important;
}

.w50 {
    width: 50px !important;
}

.w80 {
    width: 80px !important;
}

.w100 {
    width: 100px !important;
}

.w150 {
    width: 150px !important;
}

.w175 {
    width: 175px !important;
}

.w200 {
    width: 200px !important;
}

.w300 {
    width: 300px !important;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-orange {
    color: orange;
}

.color-navy {
    color: navy;
}

[v-cloak] {
    display: none;
}

.bold {
    font-weight: bold;
}

.no-decoration {
    text-decoration: none !important;
}
